/*== GLIEDERUNG ==*/

/*
	01) reset und basics
	
	02) fonts
	
	03) grid
	
	04) header + footer

    05) slider

    06) content
		- 6.1) home
		- 6.2) unterseiten
		- 6.3) allgemeines
	
	07) button
	
	08) responsive
*/


/* 01) reset und basics */
*,
*::before,
*::after {
    box-sizing: inherit;
    /* sorgt dafür, dass alle Elemente sowie ihre ::before und ::after pseudo-elemente das box-sizing-verhalten von einem eltern-element erben. */
}

/* Standardabstände zurücksetzen */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    /* listen-symbole entfernen */
}

a {
    text-decoration: none;
    /* unterstreichung bei links entfernen */
    color: white;
    font-family: 'Sansation';
}

html {
    overflow-y: scroll;
    /* vertikale scrollbalken immer sichtbar */
    overflow-x: hidden;
    /* Verhindert horizontales Scrollen */
    height: 100%;
    /* volle höhe des viewports */
    -webkit-hyphens: auto;
    /* automatische silbentrennung */
    -ms-hyphens: auto;
    hyphens: auto;
    box-sizing: border-box;
    /* Alle Elemente haben border-box, d. h. padding und border werden in die Breite einberechnet */
    background-color: #20252C;
    font-size: 16px;
    /* standardgröße, 1rem = 16px */
}

.visually-hidden {
    position: absolute;
    /* Positioniert das Element aus dem normalen Layout. */
    width: 1px;
    height: 1px;
    /* Das Element wird winzig klein. */
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    /* Vollständige Ausblendung. */
    white-space: nowrap;
    /* Verhindert Zeilenumbrüche */
    border: 0;
}


/* 02 fonts */

/* Roboto regular */
/* font-face Ermöglicht das Einbinden einer Schriftart, die sich im Projektordner befindet. */
@font-face {
    font-family: 'Roboto';
    /* Gibt der Schrift einen Namen, der später im CSS verwendet wird. */
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    /* Gibt an, wo sich die Schriftart-Datei befindet */
    font-weight: normal;
    font-style: normal;
}

/* Roboto bold */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Sansation regular */
@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Sansation bold */
@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

header,
body,
footer {
    color: white;
}

h1 {
    position: absolute;
    /* absolute positionierung, damit es über dem slider liegt */
    font-family: 'Sansation', sans-serif;
    font-weight: bold;
    font-size: 10rem;
    /* 1rem = 16px */
    z-index: 1200;
    /* höher als der slider*/
    text-shadow: 2px 2px 5px rgba(65, 65, 65, 0.7);
    /* Der Schatten wird um 2px nach rechts und 2px nach unten verschoben. 5px Weichzeichner-Radius. */
    text-transform: uppercase;
    /* Großbuchstaben */
}

h2 {
    font-size: 3.5rem;
    font-family: 'Sansation', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    /* Abstand nach unten zum nächsten Element */
}

h3 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Sansation', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.8;
}

a {
    font-size: 1.5rem; /* Schriftgröße */
    font-weight: bold; /* Fett */
    text-transform: uppercase;
}

#portfolio {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* korrektur für exakte zentrierung */
}

#projekte {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#kompetenzen {
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#kontakt {
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}


/* 03 grid */

.section-number img {
    width: 180px;
    /* Setzt die Breite des Bildes auf 20% der Containerbreite */
    height: auto;
    /* Bewahrt das Seitenverhältnis des Bildes */
    margin-bottom: 30px; /* Abstand nach unten zum nächsten Element */
}

/* block 1: zu meiner Person */
#zuMeinerPerson {
    display: grid;
    /* setzt einen grid-container für das Element */
    grid-template-columns: repeat(12, 1fr);
    /* Erstellt 12 gleich große Spalten. 12 Spalten, die jeweils 1fr (gleicher Anteil an der Breite) einnehmen. */
    gap: 50px;
    /* Abstand zwischen den Spalten */
    width: 100%;
    max-width: 2500px; /* Begrenzung auf eine fixe Breite */
    margin: 0 auto; /* Zentriert den Container */
    align-items: start;
    /* Elemente oben ausrichten */
    padding: 100px;
    box-sizing: border-box;
}

.content-text {
    grid-column: span 10;
    /* Das Element nimmt 6 der 12 verfügbaren Spalten ein. */
}

#profilbild {
    grid-column: span 2;
    /* 4 Spalten für das Bild */
    text-align: right; /* Bild im Container nach rechts ausrichten */
}

#profilbild img {
    max-width: 100%;
    /* Responsives Bild */
    height: auto;
    border-radius: 10px;
    /* Abgerundete Ecken */
}

/* block 2: Mein Werdegang */
#MeinWerdegang {
    background-color: #2E2E38;
    display: grid;
    gap: 50px;
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
    align-items: start;
    padding: 100px;
    box-sizing: border-box;
    grid-template-rows: auto auto auto; /* 3 Zeilen */
}

.bildung {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(3, 1fr);
    /* 3 Listenpunkte nebeneinander */
    gap: 50px;
    /* Abstand zwischen den Listenpunkten */
    padding: 0;
    list-style: none;
}

.bildung li {
    background-color: rgba(255, 255, 255, 0.1); /* 10% Weiß */
    padding: 20px;
    border-radius: 10px;
    /* Abgerundete Ecken */
}



/* 04 header + footer */
/* navigation style */
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1100;
    /* höher als das bild */
    padding: 10px;
}

/* unsichtbare checkbox */
#menu-toggle {
    display: none;
}

/* burger-symbol style */
.burger-icon {
    display: inline-block;
    /* element wird wie ein block behandelt, bleibt aber im selben fluss wie text oder andere inline-elemente. */
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 50px;
    text-shadow: 2px 2px 5px rgba(48, 48, 48, 0.7);
    /* schatten */
    z-index: 1110;
    /* höher als z-index des menüs gesetzt, sodass das menü nicht das icon verdeckt */
}

.burger-icon .bar1,
.burger-icon .bar2,
.burger-icon .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    /* sorgt dafür, dass eine veränderung über 0,4 sekunden sanft animiert wird */
}

.burger-icon:hover {
    transform: scale(1.1);
    /*vergrößert das burger-icon um 10% */
}

/* wenn das menü (über die checkbox #menu-toggle) aktiviert ist (checked), wird das burger menü animiert */
/* die erste linie wird um 11px verschoben und um -45 grad rotiert, sodass sie wie ein "X" aussieht */
#menu-toggle:checked+.burger-icon .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* die zweite linie wird unsichtbar gemacht (opacity 0), um platz für die animation zu schaffen */
#menu-toggle:checked+.burger-icon .bar2 {
    opacity: 0;
}

/* die dritte linie wird um 11px verschoben und um 45 grad rotiert, sodass sie ebenfalls zum "X" wird */
#menu-toggle:checked+.burger-icon .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* menü styles */
#meny {
    position: fixed;
    top: 0;
    left: -250px;
    /* startposition außerhalb des bildschirms */
    height: 100vh;
    width: 250px;
    background-color: #20252C;
    transition: left 0.4s ease-in-out;
    z-index: 999;
    /* geringer als das burger-symbol */
    display: flex;
    /* aktiviert flexbox-layout, bei dem die elemente innerhalb des containers flexibel ausgerichtet werden */
    flex-direction: column;
    /* bestimmt, dass die flexbox-kinder-elemente vertikal (in einer spalte) und nicht horizontal (in einer reihe) angeordnet werden */
    align-items: center;
    /* ausrichtung zentriert */
    justify-content: center;
    /* richtet die flexbox-kinder entlang der hauptachse (in diesem fall vertikal, aufgrund von flex-direction: column) aus und platziert sie in der mitte des containers */
}

/* menü sichtbar machen */
#menu-toggle:checked~#meny {
    left: 0;
}

/* listen style */
#meny ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

#meny li {
    margin: 20px 0;
}

#meny li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: uppercase;
    /* versalien */
    transition: color 0.3s ease-in-out;
}

/* farbe beim hover */
#meny li a:hover {
    color: #85CDAC;
}

/* menü einklappen, wenn das burger-symbol erneut geklickt wird */
#menu-toggle:not(:checked)~#meny {
    left: -250px;
}


/* 05 slider */
/* Box-Sizing für alle Elemente setzen, damit Padding und Border die Breite und Höhe nicht beeinflussen */
* {
    box-sizing: border-box;
}

/* Slideshow Container */
.slideshow-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden;
    /* Verhindert, dass Inhalte, die über die Container-Grenzen hinausgehen, sichtbar sind */
    z-index: 1;
    /* Der Container hat einen z-index von 1, um sicherzustellen, dass die Bilder und Punkte darüber liegen */
}

/* Bilder standardmäßig ausblenden, damit nur eine Folie gleichzeitig angezeigt wird */
.mySlides {
    display: none;
    /* Alle Folien sind zunächst unsichtbar */
    z-index: 0;
    /* Bilder haben einen niedrigeren z-index als die Navigationspunkte */
}

/* Bilder innerhalb der Slides */
.mySlides img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Bild wird skaliert, um den gesamten Container auszufüllen, ohne Verzerrung */
}

/* Caption Text (Beschriftung) für Folien */
.text {
    display: none;
    /* Der Text ist standardmäßig nicht sichtbar */
}

/* Container für die Navigationspunkte (Dots) */
.dots-container {
    position: absolute;
    top: 90%;
    /* Der Container wird an der unteren Kante des Bildes positioniert */
    left: 50%;
    /* Der Container wird horizontal in der Mitte des Bildes ausgerichtet */
    transform: translateX(-50%);
    /* Zentriert den Container genau in der Mitte */
    z-index: 1000;
    /* Sicherstellen, dass die Punkte über den Bildern liegen */
    display: flex;
    /* Flexbox wird verwendet, um die Punkte nebeneinander anzuordnen */
}

/* Punkte, die als Navigations-Buttons fungieren */
.dot {
    cursor: pointer;
    /* Der Cursor wird zu einem Zeiger, wenn er über die Punkte fährt */
    height: 30px;
    width: 30px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    /* Macht die Punkte rund */
    display: inline-block;
    /* Die Punkte werden nebeneinander angezeigt */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Sanfte Übergänge für Hintergrundfarbe und Skalierung */
}

/* Stil für den aktiven Punkt und Hover-Effekt */
.active,
.dot:hover {
    background-color: #2ebd9e;
}

/* Fading-Animation für die Bilder */
.fade {
    animation-name: fade;
    /* Die Animation wird aufgerufen */
    animation-duration: 1.5s;
    /* Die Animation dauert 1,5 Sekunden */
}

/* Definition der Fade-Animation */
@keyframes fade {
    from {
        opacity: .4;
        /* Zu Beginn ist die Folie etwas transparent */
    }

    to {
        opacity: 1;
        /* Am Ende der Animation wird die Folie vollständig sichtbar */
    }
}

/* hero image */
.hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 999;
    /* sicherstellen, dass das bild unter dem burger-menü liegt */
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* bild wird so skaliert, dass es den container vollständig ausfüllt und die proportionen beibehält */
}

/* 07 button */

#backToTop {
    min-width: 48px;
    min-height: 48px;
    padding: 12px;
    /* zusätzlicher klickbereich */
    margin: 8px;
    /* abstand zu anderen elementen */
}

.project-button {
    display: inline-block;
    /* macht es zu einem block-element für bessere größe */
    min-width: 48px;
    min-height: 48px;
    padding: 12px 16px;
    margin: 8px;
}

.button {
    display: inline-block;
    background-color: #85CDAC; /* Grüne Fläche */
    color: #20252C; /* Schwarzer Text */
    padding: 20px 30px; /* Mehr Innenabstand für eine größere Fläche */
    border-radius: 50px; /* Rundes Design */
    text-align: center; /* Text zentrieren */
    transition: all 0.3s ease; /* Weiche Übergänge */
    margin-top: 30px;
}