/*== GLIEDERUNG ==*/

/*
	01) reset und basics
	
	02) fonts
	
	03) grid + content
        3.1.) allgemein
        3.2.) index
        3.3.) projekte
        3.4.) kompetenzen
        3.5.) kontakt
        3.6.) impressum
	
	04) navigationF

    05) slider

	06) button
	
	07) responsive
*/


/* 01) reset und basics */
/* Standardabstände zurücksetzen */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 50px;
}

p {
    max-width: 850px;
    word-wrap: break-word;
    /* Falls lange Wörter enthalten sind, umbrechen */
    margin-bottom: 30px;
}

ul {
    list-style: none;
    /* listen-symbole entfernen */
}

a,
header,
body,
footer {
    text-decoration: none;
    /* unterstreichung bei links entfernen */
    color: white;
}

html {
    overflow: hidden scroll;
    scroll-behavior: smooth;
    height: 100%;
    /* volle höhe des viewports */
    -webkit-hyphens: auto;
    /* automatische silbentrennung */
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: #20252C;
    font-size: 16px;
    /* standardgröße, 1rem = 16px */
}

.visually-hidden {
    position: absolute;
    /* Positioniert das Element aus dem normalen Layout. */
    width: 1px;
    height: 1px;
    /* Das Element wird winzig klein. */
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    /* Vollständige Ausblendung. */
    white-space: nowrap;
    /* Verhindert Zeilenumbrüche */
    border: 0;
}

/* Box-Sizing für alle Elemente */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 02) fonts */
/* Roboto regular */
/* font-face Ermöglicht das Einbinden einer Schriftart, die sich im Projektordner befindet. */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    
    /* Regular */
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    
    /* Bold */
    &.bold {
        src: url('../fonts/Roboto-Bold.ttf') format('truetype');
        font-weight: bold;
    }
}

@font-face {
    font-family: 'Sansation';
    font-style: normal;

    /* Regular */
    src: url('../fonts/Sansation_Regular.ttf') format('truetype');
    font-weight: normal;

    /* Bold */
    &.bold {
        src: url('../fonts/Sansation_Bold.ttf') format('truetype');
        font-weight: bold;
    }
}


body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h4,
a {
    font-family: 'Sansation', sans-serif;
}

h1,
h2,
h3,
h4,
a {
    font-weight: bold;
}

h1 {
    position: absolute;
    /* absolute positionierung, damit es über dem slider liegt */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Zentriert das h1 exakt */
    font-size: 7rem;
    z-index: 1200;
    text-shadow: 2px 2px 5px rgba(65, 65, 65, 0.7);
    /* Der Schatten wird um 2px nach rechts und 2px nach unten verschoben. 5px Weichzeichner-Radius. */
    text-transform: uppercase;
    white-space: nowrap;
    /* Verhindert das Umbrechen */
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    /* Abstand nach unten zum nächsten Element */
}

h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p, label {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.8;
}

a {
    font-size: 1.5rem;
    white-space: nowrap;
}

.impressum {
    font-size: 1.25rem;
    font-weight: normal;
    text-decoration: underline;
}


/* 03) grid + content */
/* 3.1.) allgemein */
/* section-number */
.section-number img {
    display: block;
    width: 180px;
    height: auto;
    margin-bottom: 30px;
}

/* Footer */
footer {
    width: 100%;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

/* Copyright links */
.copyright {
    margin: 0;
    white-space: nowrap;
}

/* Impressum rechts */
.impressum {
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

/* Hover-Effekt (Transparenz auf 0,7 reduzieren) */
.impressum:hover {
    opacity: 0.7;
}

/* Klick-Effekt (Transparenz auf 0,5 reduzieren) */
.impressum:active {
    opacity: 0.5;
}

/* zwischenzitat */
.quote {
    position: relative;
    /* Ermöglicht absolute Positionierung innerhalb */
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
}

#quoteTitle {
    position: absolute;
    top: 50%;
    padding: 100px;
    transform: translateY(-50%);
    /* Verschiebt den Text um die Hälfte seiner eigenen Höhe nach oben */
}

.quoteimg img {
    width: 100vw;
    /* Bild nimmt die volle Breite ein */
    height: auto;
    /* Automatische Höhenanpassung */
    display: block;
}

/* 3.2.) index */
/* block 1: zu meiner Person */
.content-block {
    display: grid;
    gap: 50px;
    /* Abstand zwischen den Spalten */
    width: 100%;
    margin: 0 auto;
    /* Zentriert den Container */
    align-items: start;
    padding: 100px;
}

#zuMeinerPerson {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* Erstellt 12 gleich große Spalten. 12 Spalten, die jeweils 1fr (gleicher Anteil an der Breite) einnehmen. */

    .content-text {
        grid-column: span 8;
    }
}

#profilbild {
    grid-column: span 4;
    text-align: left;
    width: 100%;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

/* block 2: Mein Werdegang */
#MeinWerdegang {
    background-color: #2E2E38;

    p{
        margin-bottom: 0;
    }
}

.bildung {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(3, 1fr);
    /* 3 Listenpunkte nebeneinander */
    gap: 50px;
    /* Abstand zwischen den Listenpunkten */
    padding: 0;

    li {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 10px;
        /* Abgerundete Ecken */
    }
}

.praktika {
    margin-top: 50px;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(150px) scale(0.95); /* Viel stärkerer Startzustand */
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1); /* Komplett eingeblendet */
    }
  }
  
  .animate-entry {
    animation-name: fadeInUp;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-timeline: view(); /* Scrollgesteuerte Animation */
    animation-range: entry 0% cover 50%;
  }


/* block 3: Meine Projekte */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.project-item {
    position: relative;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        display: block;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 9px;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        span {
            opacity: 1;
            display: inline-block;
        }
    }

    &:active {
        &::before {
            opacity: 0.5;
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #85CDAC;
        color: #20252C;
        text-transform: uppercase;
        padding: 20px 30px;
        border-radius: 50px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

/* 3.3.) projekte */
/* block 01: Stadtrallye */
.sliderprojekte{
    top: 15%;
}

.project-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    img{
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 10px;
    }
}

/* block 02: Urban Gardening */
#urbanGardening {
    background-color: #2E2E38;
}

/* 3.4.) kompetenzen*/
/* block 01: Kompetenzen */
#motivation {
    background-color: #2E2E38;
    grid-template-columns: repeat(2, 1fr);

    .content-text {
        grid-column: 2;
    }
}

#ablaufplan {
    grid-column: 1;
    text-align: left;
    width: 100%;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

/* block 03: Tools und Sprachen */
#tools-sprachen {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;

    figure {
        margin-bottom: 30px;
    }

    .tools,
    .sprachen {
        
        text-align: center;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        padding: 50px;
    }

    .tools {
        grid-column: 1;
    }

    .sprachen {
        grid-column: 2;
    }

    ul {
        list-style: disc;
        text-align: left;
        padding-left: 20px;
    }

    li {
        padding-bottom: 10px;
    }
}

/* 3.5.) Kontakt */
.contact-method {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
}

.contact-item {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

    img {
        width: 50px;
        height: auto;
    }

    .contact-text {
        display: flex;
        flex-direction: column;
    }

    p {
        margin: 0;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

form {
    display: grid;
    gap: 0.8rem;
  }

 /* Standard-Stil für die Eingabefelder */
 input, textarea, select {
    background-color: white;
    padding: 8px;
    border: 2px solid white;
    border-radius: 2px;
}

/* Rote Umrandung für ungültige Felder nach Absenden */
input.invalid, textarea.invalid, select.invalid {
    border: 2px solid red;
    background-color: #fdd;
}

button {
    width: fit-content;
    display: inline-block;
    font-size: 1.5rem;
    white-space: nowrap;
    border: none;
}


/* 3.6.) impressum */
#impressum {
    gap: 0px;

    h2 {
        margin: 0;
    }

    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 1.25rem;
    }
}

/* 04) navigation */
/* navigation style */
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1300;
    padding: 10px;
}

/* Unsichtbare Checkbox für die Menüsteuerung */
#menu-toggle {
    display: none;
}

/* Burger-Symbol */
.burger-icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 50px;
    text-shadow: 2px 2px 5px rgba(48, 48, 48, 0.7);
    z-index: 1300;
    /* Höher als das Menü */
}

.burger-icon .bar1,
.burger-icon .bar2,
.burger-icon .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    /* Sanfte Animation */
}

/* Hover-Effekt für das Burger-Symbol */
.burger-icon:hover {
    transform: scale(1.1);
    /* Vergrößert das Icon um 10% */
}

#menu-toggle:checked + .burger-icon {
    position: fixed;
}

/* Animation beim Öffnen des Menüs (mit :checked) */
#menu-toggle:checked+.burger-icon .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    /* Erste Linie */
}

#menu-toggle:checked+.burger-icon .bar2 {
    opacity: 0;
    /* Zweite Linie unsichtbar */
}

#menu-toggle:checked+.burger-icon .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    /* Dritte Linie */
}

/* Menü */
#meny {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: #20252C;
    transition: left 0.4s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
        text-align: left;
        }
    
    li {
        margin: 20px 0;
    
        a {
            font-size: 18px;
            text-transform: uppercase;
            transition: color 0.3s ease-in-out;
        }
        }
}

/* Menü sichtbar machen, wenn die Checkbox :checked ist */
#menu-toggle:checked~#meny {
    left: 0;
}

/* Hover-Effekt für Links im Menü */
#meny li a:hover {
    color: #85CDAC;
}

#meny li a:active {
    color: rgba(133, 205, 172, 0.5); /* 50% der ursprünglichen Farbe */
}

/* Menü einklappen, wenn das Burger-Symbol erneut geklickt wird */
#menu-toggle:not(:checked)~#meny {
    left: -250px;
    /* Menü außerhalb des Bildschirms */
}


/* 05 slider */
.slideshow-container {
    position: relative;
    width: 100vw;
    z-index: 1;
}

.mySlides {
    display: none;
    position: relative;
}

.sliderimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 800px;
}

.dots-container {
    position: absolute;
    bottom: 4%;
    /* Positioniert die Dots vertikal in der Mitte des Bildes */
    left: 50%;
    /* Positioniert die Dots weiter nach rechts */
    right: 10%;
    transform: translate(-50%, -50%);
    /* Verschiebt die Dots genau in die Mitte */
    text-align: center;
    width: 100%;
    z-index: 100;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1100;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* hero image */
.hero-image {
    position: relative;
    width: 100%;
    z-index: 999;

    img {
        width: 100vw;
        height: auto;
        max-height: 800px;
        object-fit: cover;
    }
}


/* 06) button */
.button {
    display: inline-block;
    background-color: #85CDAC;
    color: #20252C;
    padding: 20px 30px;
    border-radius: 50px;
    /* Rundes Design */
    text-align: center;
    font-family: 'Sansation';
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    
    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }

    &:focus {
        outline: none;
    }
}

/* Back-to-Top-Button */
#backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    z-index: 1000;
    
    /* Bild im Button */
    img {
        width: 48px;
        height: auto;
    }

    /* Hover- & Fokus-Effekte */
    transition: opacity 0.3s ease;
    
    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }

    &:focus {
        outline: none;
    }
}


/* 07) responsive*/
/* Media Query für 768px bis 1024px */
@media (max-width: 1024px) {
    h1 { font-size: 6.25rem; } /* 100px */
    h2 { font-size: 2.5rem; }  /* 40px */
    h3 {
        font-size: 1.75rem; /* 28px */
        margin-top: 0;
    }
    h4, a { font-size: 1.375rem; } /* 22px */
    p, label { font-size: 1.125rem; }  /* 18px */

    #backToTop {
        right: 3px;

        img {
            width: 32px;
            height: auto;
        }
    }

    .section-number img {
        width: 140px;
    }

    .content-block {
        padding: 50px;
    }

    #zuMeinerPerson {
        grid-template-columns: 1fr;
    }

    #profilbild {
        img {
            max-width: 50%;
            margin: 0 auto;
        }
    }

    .bildung {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .sliderprojekte {
        top: 10%;
    }

    #motivation {
        grid-template-columns: 1fr;

        .content-text {
            grid-column: 1;
        }
    }

    #block3 {
        h2{
            margin: 0;
        }
    }

    #tools-sprachen {
        gap: 30px;
        
        .tools,
        .sprachen {
            padding: 30px;
            
            figure {
                padding-bottom: 30px;
                width: 50%;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .contact-method {
        gap: 30px;
    }

    #impressum h3 {
        margin-top: 30px;
    }

    button {
        font-size: 1.375rem;
    }

    form h3 {
        margin-top: 30px;
        margin-bottom: 0;
    }
}


/* Media Query für 360px bis 768px */
@media (max-width: 768px) {
    h1 { font-size: 4rem; } /* 72px */
    h2 { font-size: 2rem; }  /* 32px */
    h3 { font-size: 1.5rem; } /* 24px */
    h4, a { font-size: 1.25rem; } /* 20px */
    p, label { font-size: 1rem; }   /* 16px */
    
    #menu-toggle:checked~#meny {
        width: 100%;  /* Menübreite auf 100% erweitern, wenn das Menü geöffnet ist */
    }

    #meny {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        li a {
            text-align: center;
        }
    }

    .burger-icon{
        left: 30px;
    }

    .section-number img {
        width: 100px;
    }

    #profilbild img{
        max-width: 70%;
    }

    .project-gallery {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .project-image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    #tools-sprachen {
        grid-template-columns: 1fr;

        .tools, .sprachen {
            grid-column: 1;
            grid-template-columns: 1fr;
            padding: 30px;
        }

        figure{
            width: 30%;
        }
    }

    .sliderprojekte{
        top: 8%;
    }

    .contact-method {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    button {
        font-size: 1.25rem;
    }
}

/* Media Query für 500px und kleiner */
@media (max-width: 500px) {
    h1 {
        font-size: 1.75rem; /* 28px */
        top: 12%;
    }
    h2 {
        font-size: 1.5rem; /* 24px */
        margin: 0;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.25rem; /* 20px */
        margin-top: 0;
        margin-bottom: 30px;
    }

    h4 {font-size: 1.125rem; /* 18px */}
    p, label {font-size: 1rem; /* 16px */}
    a #impressum a, .impressum, .contact-item a {font-size: 1rem; /* 16px */}

    .button {
        width: 100%;
    }

    #backToTop {
        right: 2px;
        bottom: 30px;
    }

    .content-block {
        padding: 30px;
        gap: 30px;
    }

    #quoteTitle, #zuMeinerPerson, #MeinWerdegang, #MeineProjekte {
        padding: 50px 30px;
    }

    .section-number img {
        width: 100px;
    }

    footer {
        grid-template-columns: 1fr;
        display: block;

        .copyright,
        .impressum {
            text-align: left;
        }
    }

    #zuMeinerPerson .content-text {
        grid-column: span 4;
    }

    #profilbild img {
        max-width: 100%;
    }

    .bildung, .project-gallery {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #MeineProjekte {
        gap: 30px;
    }

    .sliderprojekte{
        top: 5%;
    }

    #tools-sprachen .tools,
    #tools-sprachen .sprachen {
        figure {
            width: 50%;
        }
    }

    .project-image-container {
        grid-template-columns: 1fr;
    }

    .contact-item {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        img {
            width: 20%;
        }
    }

    button {
        font-size: 1rem;
    }
}