/*== GLIEDERUNG ==*/

/*
	01) reset und basics
	
	02) fonts
	
	03) grid + content
        3.1.) allgemein
        3.2.) index
        3.3.) projekte
        3.4.) kompetenzen
        3.5.) kontakt
        3.6.) impressum
	
	04) navigation

    05) slider

	06) button
	
	07) responsive
*/


/* 01) reset und basics */
/* Standardabstände zurücksetzen */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 50px;
}

p {
    max-width: 850px;
    word-wrap: break-word;
    /* Falls lange Wörter enthalten sind, umbrechen */
    margin-bottom: 20px;
}

ul {
    list-style: none;
    /* listen-symbole entfernen */
}

a,
header,
body,
footer {
    text-decoration: none;
    /* unterstreichung bei links entfernen */
    color: white;
}

html {
    overflow: hidden scroll;
    height: 100%;
    /* volle höhe des viewports */
    -webkit-hyphens: auto;
    /* automatische silbentrennung */
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: #20252C;
    font-size: 16px;
    /* standardgröße, 1rem = 16px */
}

.visually-hidden {
    position: absolute;
    /* Positioniert das Element aus dem normalen Layout. */
    width: 1px;
    height: 1px;
    /* Das Element wird winzig klein. */
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    /* Vollständige Ausblendung. */
    white-space: nowrap;
    /* Verhindert Zeilenumbrüche */
    border: 0;
}

/* Box-Sizing für alle Elemente */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 02) fonts */
/* Roboto regular */
/* font-face Ermöglicht das Einbinden einer Schriftart, die sich im Projektordner befindet. */
@font-face {
    font-family: 'Roboto';
    /* Gibt der Schrift einen Namen, der später im CSS verwendet wird. */
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    /* Gibt an, wo sich die Schriftart-Datei befindet */
    font-weight: normal;
    font-style: normal;
}

/* Roboto bold */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Sansation regular */
@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Sansation bold */
@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h4,
a {
    font-family: 'Sansation', sans-serif;
}

h1,
h2,
h3,
h4,
a {
    font-weight: bold;
}

h1 {
    position: absolute;
    /* absolute positionierung, damit es über dem slider liegt */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Zentriert das h1 exakt */
    font-size: 10rem;
    /* 1rem = 16px */
    z-index: 1200;
    text-shadow: 2px 2px 5px rgba(65, 65, 65, 0.7);
    /* Der Schatten wird um 2px nach rechts und 2px nach unten verschoben. 5px Weichzeichner-Radius. */
    text-transform: uppercase;
    white-space: nowrap;
    /* Verhindert das Umbrechen */
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    /* Abstand nach unten zum nächsten Element */
}

h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.8;
}

a {
    font-size: 1.5rem;
    white-space: nowrap;
}

.impressum {
    font-size: 1.25rem;
    font-weight: normal;
    text-decoration: underline;
}


/* 03) grid + content */
/* 3.1.) allgemein */

/* section-number */
.section-number img {
    display: block;
    width: 180px;
    height: auto;
    margin-bottom: 30px;
}

/* Footer */
footer {
    width: 100%;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

/* Copyright links */
.copyright {
    margin: 0;
    white-space: nowrap;
    /* Kein Umbruch */
}

/* Impressum rechts */
.impressum {
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

/* zwischenzitat */
.quote {
    position: relative;
    /* Ermöglicht absolute Positionierung innerhalb */
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
}

#quoteTitle {
    position: absolute;
    top: 50%;
    padding: 100px;
    transform: translateY(-50%);
    /* Verschiebt den Text um die Hälfte seiner eigenen Höhe nach oben */
}

.quoteimg img {
    width: 100vw;
    /* Bild nimmt die volle Breite ein */
    height: auto;
    /* Automatische Höhenanpassung */
    display: block;
}

/* 3.2.) index */
/* block 1: zu meiner Person */

.content-block {
    display: grid;
    gap: 50px;
    /* Abstand zwischen den Spalten */
    width: 100%;
    margin: 0 auto;
    /* Zentriert den Container */
    align-items: start;
    /* Elemente oben ausrichten */
    padding: 100px;
}

#zuMeinerPerson {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* Erstellt 12 gleich große Spalten. 12 Spalten, die jeweils 1fr (gleicher Anteil an der Breite) einnehmen. */
}

#zuMeinerPerson .content-text {
    grid-column: span 8;
}

#profilbild {
    grid-column: span 4;
    text-align: left;
    width: 100%;
}

#profilbild img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* block 2: Mein Werdegang */
#MeinWerdegang {
    background-color: #2E2E38;
    grid-template-rows: auto auto auto;
    /* 3 Zeilen */
}

#MeinWerdegang p {
    margin-bottom: 0;
}

.bildung {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(3, 1fr);
    /* 3 Listenpunkte nebeneinander */
    gap: 50px;
    /* Abstand zwischen den Listenpunkten */
    padding: 0;
}

.bildung li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    /* Abgerundete Ecken */
}

.praktika {
    margin-top: 50px;
}

/* block 3: Meine Projekte */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.project-item {
    position: relative;
    overflow: hidden;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.project-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 9px;
}

.project-item:hover::before {
    opacity: 1;
}

.project-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #85CDAC;
    color: #20252C;
    padding: 20px 30px;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-transform: uppercase;
}

.project-item:hover span {
    opacity: 1;
    display: inline-block;
}

/* Änderungen für den "active" Zustand */
.project-item:active::before {
    opacity: 0.5;
    /* Schwarze Überlagerung beim Klick auf 50% Transparenz setzen */
}

.project-item:active span {
    opacity: 0.5;
    /* Text beim Klick auf 50% Transparenz setzen */
}

/* 3.3.) projekte */
/* block 01: Stadtrallye */
.project-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.project-image-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

/* block 02: Urban Gardening */
#urbanGardening {
    background-color: #2E2E38;
}

/* 3.4.) kompetenzen*/
/* block 01: Kompetenzen */
#motivation {
    background-color: #2E2E38;
    grid-template-columns: repeat(2, 1fr);
}

#ablaufplan {
    grid-column: 1;
    text-align: left;
    width: 100%;
}

#ablaufplan img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#motivation .content-text {
    grid-column: 2;
}

/* block 03: Tools und Sprachen */
#tools-sprachen {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
}

#tools-sprachen .tools,
#tools-sprachen .sprachen {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 50px;
}

#tools-sprachen .tools figure,
#tools-sprachen .sprachen figure {
    padding-bottom: 50px;
}

#tools-sprachen .tools {
    grid-column: 1;
}

#tools-sprachen .sprachen {
    grid-column: 2;
}

#tools-sprachen ul {
    list-style: disc;
    text-align: left;
    padding-left: 20px;
}

#tools-sprachen li {
    padding-bottom: 10px;
}

/* 3.5.) Kontakt */
.contact-method {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Zwei gleich große Spalten */
    gap: 50px;
    width: 100%;
}

.contact-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
}

.contact-item img {
    width: 50px;
    height: auto;
}

.contact-item p {
    margin: 0;
}

.contact-item a {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
}

/* 3.6.) impressum */
#impressum {
    padding: 100px;
}

#impressum p {
    margin-bottom: 0;
}

#impressum a {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
}


/* 04 navigation */
/* navigation style */
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    padding: 10px;
}

/* Unsichtbare Checkbox für die Menüsteuerung */
#menu-toggle {
    display: none;
}

/* Burger-Symbol */
.burger-icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 50px;
    text-shadow: 2px 2px 5px rgba(48, 48, 48, 0.7);
    z-index: 1110;
    /* Höher als das Menü */
}

.burger-icon .bar1,
.burger-icon .bar2,
.burger-icon .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    /* Sanfte Animation */
}

/* Hover-Effekt für das Burger-Symbol */
.burger-icon:hover {
    transform: scale(1.1);
    /* Vergrößert das Icon um 10% */
}

/* Animation beim Öffnen des Menüs (mit :checked) */
#menu-toggle:checked+.burger-icon .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    /* Erste Linie */
}

#menu-toggle:checked+.burger-icon .bar2 {
    opacity: 0;
    /* Zweite Linie unsichtbar */
}

#menu-toggle:checked+.burger-icon .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    /* Dritte Linie */
}

/* Menü */
#meny {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: #20252C;
    transition: left 0.4s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Menü sichtbar machen, wenn die Checkbox :checked ist */
#menu-toggle:checked~#meny {
    left: 0;
}

/* Menü-Liste */
#meny ul {
    text-align: left;
}

#meny li {
    margin: 20px 0;
}

#meny li a {
    font-size: 18px;
    text-transform: uppercase;
    /* Versalien */
    transition: color 0.3s ease-in-out;
}

/* Hover-Effekt für Links im Menü */
#meny li a:hover {
    color: #85CDAC;
}

/* Menü einklappen, wenn das Burger-Symbol erneut geklickt wird */
#menu-toggle:not(:checked)~#meny {
    left: -250px;
    /* Menü außerhalb des Bildschirms */
}

/* 05 slider */
.slideshow-container {
    position: relative;
    width: 100vw;
    z-index: 1;
}

.mySlides {
    display: none;
    position: relative;
}

.sliderimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 800px;
}

.dots-container {
    position: absolute;
    bottom: 4%;
    /* Positioniert die Dots vertikal in der Mitte des Bildes */
    left: 50%;
    /* Positioniert die Dots weiter nach rechts */
    right: 10%;
    transform: translate(-50%, -50%);
    /* Verschiebt die Dots genau in die Mitte */
    text-align: center;
    width: 100%;
    z-index: 100;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1100;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* hero image */
.hero-image {
    position: relative;
    width: 100%;
    z-index: 999;
    /* sicherstellen, dass das bild unter dem burger-menü liegt */
}

.hero-image img {
    width: 100vw;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    /* bild wird so skaliert, dass es den container vollständig ausfüllt und die proportionen beibehält */
}

/* 06 button */
.button {
    display: inline-block;
    background-color: #85CDAC;
    color: #20252C;
    padding: 20px 30px;
    border-radius: 50px;
    /* Rundes Design */
    text-align: center;
    margin-top: 30px;
    font-family: 'Sansation';
    font-weight: bold;
    text-transform: uppercase;
}

/* Back-to-Top-Button */
#backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 200px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    z-index: 1000;
}

/* Bild im Button */
#backToTop img {
    width: 48px;
    height: auto;
}

/* Hover- & Fokus-Effekte */
.button,
#backToTop {
    transition: opacity 0.3s ease;
}

.button:hover,
#backToTop:hover {
    opacity: 0.8;
}

.button:active,
#backToTop:active {
    opacity: 0.5;
}

#backToTop:focus {
    outline: none;
}

/* 07) responsive*/

/* Media Query für 768px bis 1024px */
@media (max-width: 1024px) {
    h1 { font-size: 6.25rem; } /* 100px */
    h2 { font-size: 2.5rem; }  /* 40px */
    h3 { font-size: 1.75rem; } /* 28px */
    h4, a { font-size: 1.375rem; } /* 22px */
    p { font-size: 1.125rem; }  /* 18px */

    #backToTop {
        width: 5px;
        bottom: 90px;
    }

    #backToTop img {
        width: 32px;
        height: auto;
    }

    .section-number img {
        width: 140px;
    }

    .content-block {
        padding: 50px;
    }

    #zuMeinerPerson {
        grid-template-columns: 1fr;
        /* Nur noch eine Spalte */
    }

    #profilbild img {
        max-width: 50%;
        /* Bildgröße begrenzen */
        margin: 0 auto;
    }

    .bildung {
        grid-template-columns: repeat(2, 1fr);
        /* 2 Spalten statt 3 */
        gap: 30px;
    }
}

/* Media Query für 360px bis 768px */
@media (max-width: 768px) {
    h1 { font-size: 4.5rem; } /* 72px */
    h2 { font-size: 2rem; }  /* 32px */
    h3 { font-size: 1.5rem; } /* 24px */
    h4, a { font-size: 1.25rem; } /* 20px */
    p { font-size: 1rem; }   /* 16px */
    
    #backToTop img {
        width: 24px;
        height: auto;
    }

    .section-number img {
        width: 100px;
    }

    #profilbild img {
        max-width: 70%;
    }

    .project-gallery {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

/* Media Query für 600px und kleiner */
@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem; /* 40px */
        padding-bottom: 100px;
    }

    h2 {
        font-size: 1.5rem; /* 24px */
        margin: 0;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.25rem; /* 20px */
        margin-top: 0;
        margin-bottom: 30px;
    }

    h4 {font-size: 1.125rem; /* 18px */}
    p {font-size: 1rem; /* 16px */}
    a, .impressum { font-size: 1.125rem; /* 18px */}

    .button {
        width: 100%;
    }

    .content-block {
        padding: 30px;
        gap: 20px;
    }

    #quoteTitle, #zuMeinerPerson, #MeinWerdegang, #MeineProjekte {
        padding: 50px 30px;
    }

    .quoteimg img {
        width: 100%;
    }

    .section-number img {
        width: 100px;
    }

    .quoteimg img {
        height: 200px;
        display: block;
    }

    footer {
        grid-template-columns: 1fr;
        display: block;
    }

    .copyright,
    .impressum {
        text-align: left;
    }

    #zuMeinerPerson .content-text {
        grid-column: span 4;
    }

    #profilbild img {
        max-width: 100%;
    }

    .bildung, .project-gallery {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #MeineProjekte {
        gap: 30px;
    }
}